<section>
  <div class="navbar">
     <h1>Bloc Chat</h1>
     <div id="button" ng-controller='ModalCtrl as modals'>
         <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button>
     </div>
     <!-- the ngRepeat directive -->
     <div>
         <h3 ng-repeat="room in home.rooms" ng-click="home.setActiveRoom(room)" class="roomName">{{ room.$value }}</h3>
     </div>
  </div>
  <div class="chatcontent">
    <h3 class="chatroomname" style="text-align:center;">Chat Room Here {{ currentRoom.$value }}</h3>
    <div class="messages-body" ng-repeat="message in messages">
        <div class="username">User: {{ message.username }}</div>
        <div class="timestamp">Time Sent: {{ message.sentAt }}</div>
        <div class="user-message">Message: {{ message.content }}</div>
    </div>
    <div class="message-field">
        <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="newMessage" style="width:500px; color: black;">
        <button class="btn-new-message" type="button" ng-click="home.sendMessage(newMessage)">Send message</button>
    </div>
  </div>
</section>
