<section class="navbar")
  <!-- the ngRepeat directive -->
  <!-- <div ng-repeat="room in home.rooms">
      <h3>{{ room.$id }}</h3>
      <p>{{ room.$value }}</p>
  </div>
  <div ng-controller='ModalCtrl as modals'>
      <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button>
  </div> -->
  <div class="room-nav">
     <h1>Bloc Chat</h1>
     <div ng-controller='ModalCtrl as modals'>
         <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button>
     </div>
     <div>
       <button type="button" class="btn-open-chat" ng-click="">Open Room</button>
     </div>
     <div id="chatRooms" ng-repeat="room in home.rooms">
         <h3>{{ room.$id }}</h3>
     </div>
     <div id="chatMessages" ng-repeat="room in home.rooms">
         <h4>{{ room.$value }}<h4>
     </div>
 </div>
</section>
